<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
    <title>CallHealth | Conecta sua saúde</title>

</head>   

<body id="page-landing">
    
    <div id="container">

        <div class="logo-container">
            <img src="/imagens/logo.png" alt="Call Health">
            <h2>O jeito mais simples de cuidar da sua saúde</h2>

        </div>

        <img class="hero-image" src="imagens/landing.png" alt="conectando saude">
        
        <div class="buttons-container">
            <a class="paciente" href="/profs">
                <img src="/imagens/icons/paciente.png" alt="Consultar profissional">
                Sou paciente
            </a>
            <a class="give-appointment" href="/give-appointment">
                <img src="/imagens/icons/prof.png" alt="Consulta">
                Sou profissional
            </a>
        </div>

        <p class="total-connections">Total de 800 consultas já realizadas
            <img src="/imagens/icons/purple-heart.png" alt="Coração">
        </p>
    </div>



</body>

</html>